.Toolbar {
  height: 50px;
  width: 100%;
  color: salmon;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 90;
  background-color: grey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Toolbar li {
  list-style: none;
  box-sizing: border-box;
  display: block;
  width: 100%;
  cursor: pointer;
}

.Toolbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row;
  height: 100%;
}

.Nav {
  display: inline-flex;
}