.NavigationItem {
  box-sizing: border-box;
  display: block;
}

.NavigationItem a {
  color: salmon;
  text-decoration: none;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  display: block;
  padding: 15px 18px;
}

.NavigationItem a:hover {
  color: rgb(251, 193, 186);
}

.NavigationItem:active,
.NavigationItem a.active {
  height: 100%;
  border-bottom: 2px solid rgb(241, 69, 50);
  color: rgb(241, 69, 50);
}

.SidebarNavigationItem {
  box-sizing: border-box;
  display: block;
}

.SidebarNavigationItem a {
  color: salmon;
  text-decoration: none;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  display: block;
  padding: 15px 18px;
}

.SidebarNavigationItem a:hover {
  color: rgb(251, 193, 186);
}
