.Main {
  border: 2px solid black;
  color: #b68fa2;
  width: 80%;
  height: 350px;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 35px;
  border-radius: 25px;
}

@media (max-width: 800px) {
  .Main {
    border: 2px solid black;
    color: #b68fa2;
    width: 80%;
    height: 200px;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
    border-radius: 25px;
  }
}

.Background {
  background-image: url("https://images.prismic.io/buzzsprout/06fd34b4c2d73e8e104196b1227469811a05f768_royalty-free-music2x.png?auto=compress,format");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.Pill {
  display: flex;
  justify-content: space-evenly;
  color: #b67997;
  background-color: #586f77;
  margin: 20px;
  border: 2px solid black;
  border-radius: 100px;
}

.PillContainer {
  margin: 10px;
}
