.Input {
  display: inline-flex;
  flex-flow: column;
  margin-bottom: 15px;
}

.Invalid {
  border-color: red;
}

.Label {
  display: block;
  margin-bottom: 12px;
  margin-top: 25px;
}

@media (max-width: 500px) {
  .Input {
    display: inline-flex;
    flex-flow: column;
    margin: 10px;
  }

  .Invalid {
    border-color: red;
  }

  .Label {
    margin-bottom: 5px;
  }
}
